[submodule "ThaumatoAnakalyptor/sheet_generation/pybind11"]
	path = ThaumatoAnakalyptor/sheet_generation/pybind11
	url = https://github.com/pybind/pybind11
[submodule "ThaumatoAnakalyptor/sheet_generation/yaml-cpp"]
	path = ThaumatoAnakalyptor/sheet_generation/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Vesuvius-Grandprize-Winner"]
	path = Vesuvius-Grandprize-Winner
	url = https://github.com/younader/Vesuvius-Grandprize-Winner
	branch = Julian-updated-inference-paths
